# Application Environment (development or production)
ENVIRONMENT=development

# API Settings
API_NAME="TrueScope Central Intel API"
API_VERSION="v1"

# Development Database Settings (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=truescope_dev
DB_HOST=localhost
DB_PORT=5432

# Production Database Settings (DigitalOcean Managed Postgres)
PROD_DB_USER=doadmin
PROD_DB_PASSWORD=your_password
PROD_DB_NAME=defaultdb
PROD_DB_HOST=truescope-db-do-user-35825815-0.i.db.ondigitalocean.com
PROD_DB_PORT=25060
SSL_MODE=verify-full
DB_CA_PATH=certs/ca-certificate.crt

# Security
SCRAPE_TRIGGER_TOKEN=your_secure_token_here
